@charset "UTF-8";

footer{
    color: #000;
    margin-bottom: 0;
    position: absolute;
    background-color: #EFEFEF;
}

.footer-content{
	margin: 0 1%;
    display: grid;
    grid-template-columns: 50% 50%;
  	grid-gap: 5%;
    overflow: hidden;
}

.left-information{
	text-align: center;
}

#social{
	text-align: center;
}

form{
	width: 100%;
}

#contact-us{
	text-align: center;
	display: grid;
	justify-content: center;
}

.footer-line{ 
    margin-top: 1rem;	
    border-width: 5px 5px 5px 5px;
    margin-right: 10%;
    margin-left: 10%;
    border-style: groove;
    border-color: #d1d1d1;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

.fab {
	width: 15%;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 10%;
	padding: 20px;
}

.fab:hover {
    opacity: 0.5;
    color: #c1c1c1;
    text-decoration: none;
}

.fa-facebook-square {
	background: #3B5998;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

@media (max-width: 998px){
	.footer-content{
    	grid-template-columns: auto;
	}	
}

 