@charset "UTF-8";

section	{
	display: block;
	position: relative;
	margin-top: 3rem;	
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

.title	{
	margin-left: 0.5%;
}

.card	{
	margin-left: 5%;
    margin-bottom: 3%;
}


footer	{
	width: 100%;
}