@charset "UTF-8";

section	{
	margin-top: 3rem;	
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

.title	{
	margin-left: 0.5%;
}




footer	{
	width: 100%;
}