@charset "UTF-8";

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* Change the link color to #111 (black) on hover */
.navbar-nav li a:hover {
  background-color: #111;
}
